**/*.jpg
**/__pycache__/*.*
**/*.tmp
**/*.log
**/__pycache__
**/checkpoints/
**/checkpoint/
**/images/
**/*.pth
**/*.pt
**/*.pb
**/__pycache__/
**/temp_*
StegaStamp/data/decode/upload.png
StegaStamp/data/decode/save/code.txt
StegaStamp/data/encode/upload_512.png
StegaStamp/data/encode/upload_rec.png
StegaStamp/data/encode/upload.png
StegaStamp/data/encode/upload.txt
StegaStamp/data/encode/save/encoded.png
StegaStamp/saved_models/
.vscode/
style_transfer/in/
style_transfer/out/
style_transfer/utils/models/
.interface.py.swp
