**/*.jpg
**/__pycache__/*.*
**/*.tmp
**/*.log
**/__pycache__
**/checkpoints/
**/checkpoint/
**/images/
**/*.pth
**/*.pt
**/*.pb
**/__pycache__/
**/temp_*
**/userData/
StegaStamp/saved_models/
.vscode/
style_transfer/utils/models/
*.swp
